PORT=5000
MONGO_URI=mongodb://localhost:27017/timemedia
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=
BREVO_SMTP_HOST=
BREVO_SMTP_PORT=
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
NOTIFY_EMAIL_TO=info@timemedia.in
CLIENT_URL=http://localhost:5173
